
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: #0054a6 ;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 40px 0px;
    text-align: center;
    text-transform: uppercase;
}

.title--cons {
    position: absolute;
    width: 100%;
    color: #0054a6;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px
}

@media (max-width:670px) {
    .title {
        color: #0054a6 ;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        padding: 40px 0px 0px;
        text-align: center;
        text-transform: uppercase;
    }
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
}

.menu--item {
    margin-left: 2rem;
    color: #0054a6;
}

.menu--link{
    font-size: 1.8rem;
    font-weight: 400;
    color: #222;
    text-decoration: none;
}

.menu--link:hover{
    color: #00a600;
}

.nav--logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #0054a6;
}

.nav--logo img {
    width: 150px;
    margin-left: 40px;
} 

@media (max-width: 901px) {
    .nav--menu {
        position: absolute;
        left: -100%;
        top: 9rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10000;
        overflow:hidden;
    }

    .nav--menu.active {
        left: 0;
    }

    .menu--item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width: 780px) {
    .nav--menu {
        position: absolute;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10000;
    }
}

/**Hero Banner**/

.banner {
    background-image: url("../images/Heroimg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.banner--content {
    color: #fff;
    text-align: center;
    position: relative;
    top: 7rem;
    overflow: none;
}

.banner--content .welcome {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.banner--content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.banner--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 35px;
    width: 750px;
    margin: 0 auto;
}

.banner--content .hero--btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #0054a6;
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    border-radius: 50px; 
}

.banner--content .hero--btn:hover {
    background-color: #00a600;
    padding: 12px 25px;
    transition: .5s;
}

@media (max-width:780px){
    .nav--logo img {
        width: 100px;
        margin-left: 5px;
    } 
    .banner {
        background-image: url("../images/Heroimg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner--content {
        color: #fff;
        text-align: center;
        position: relative;
        top: 8rem;
        overflow: none;
    }

    .banner--content .welcome {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
    }

    .banner--content h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 30px;
        letter-spacing: 2px;
    }

    .banner--content .banner--text {
        display: none;
    }

    .banner--content .hero--btn {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        background-color: #0054a6;
        padding: 8px 10px;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        border-radius: 50px; 
    }
    
}


/** Credentialing Program**/

.card-body .credential--level {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.credetial--card {
    height: 150px;
    text-align: center;
}

.card .credential--body {
    padding-top: 40px;
}

.credential--title {
    padding-top: 40px;
    padding-bottom: 10px;

}
.credential--row {
    padding-bottom: 100px;
}

/**Event & Testimonial Section**/
.event-test {
    margin-top: 20px;
    padding: 100px 0px;
    background: url("../images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.event-test--container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/**Events**/

.event--item--container {
    position: relative;
    width: 100%;
    background-color: #E2E8F0;
}

.event--content--wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    margin: 0px 20px;
}

.event----content--img {
    margin: 0 auto;
}

.event----content--img img {
    height: 130px;
    width: 180px;
}

.event----content--img p.event--date {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #fff;
    background-color: #0054a6;
    text-align: center;
}

.event--content--text {
    margin: 0 20px;
}

.event--content--text a{
    color: #0054a6;
}

.event--content--text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.event--content--text .event--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.event--content--text a{
    text-decoration: none;
}

.event--content--text .event--rm--btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-decoration: none;
}

.event--content--text .event--rm--btn:hover, h3:hover, .subscribe--btn:hover{
    color: #00a600;
    transition: .5s;
}

.vmore--btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #0054a6;
    width: 150px;
    margin: 30px auto;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.vmore--btn a {
    text-decoration: none;
    color: #fff;
}

.vmore--btn:hover {
    background-color: #00a600 ;
    transition: .5s;
}

.vmore--btn a:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1150px) {
    .event--content--wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        margin: 0px 5px;
    }

    .event----content--img img {
        height: 100px;
        width: 200px;
    }

    .event-test--container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 660px) {
    .event--content--wrapper {
        display: flex;
        flex-direction: column;
        margin: 0px 5px;
    }

    .event--content--img img {
        height: Auto;
        width: 100%;
    }

    .event--content--text {
        width: 90%;
        margin: 0 auto;
    }

    .event--content--text h3 {
        font-size: 1.8rem;
    }

    .event--item--container {
        text-align: center;
    }

    .event-test--container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .vmore--btn {
        margin: 30px auto;
    }
}

/**Testimonials**/
.test--item--container {
    width: 100%;
    text-align: center;
    background-color: #FDEFEF;
}

.test--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0px 150px;
    text-align: center;
}

.test--name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px 150px;
    text-align: center;
}

.test--desig {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0px 150px;
    text-align: center;
}

.test--inst {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 150px;
    text-align: center;
    padding-bottom: 30px;
} 

.test--img--container {
    padding: 20px;
}

.test--item .fas {
    color: #0054a6;
    padding-bottom: 10px;
}

.test--item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 150px;
    text-align: center;
    padding-bottom: 30px;
    color: #0054a6;
}

.test--item img {
    width: 80px;
    height: 80px;
    border: 1px solid #0054a6;
    border-radius: 100%;
    object-fit: cover;
}

.carousel-inner {
    padding-top: 40px;
}
.carousel-control-next, .carousel-control-prev {
    margin: 0px 50px;
}

.test--indicator {
    position: relative;
    top: 350px;
}

@media (max-width:670px) {
    .test--item a {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0;
    }
    .test--text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin: 0px 10px;
        text-align: center;
    }
    
    .test--name {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin: 0px 10px;
        text-align: center;
    }
    
    .test--desig {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        margin: 0px 10px;
        text-align: center;
    }
    
    .test--inst {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0px 10px;
        text-align: center;
        padding-bottom: 30px;
    } 
    
    .carousel-control-next, .carousel-control-prev {
        margin: 0px 10px;
    }
}

/**ONLINE Cources**/

.card {
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
    width: 300px;
}

.card:hover {
    box-shadow: 3px 5px 4px #dadada;;
    transition: .5s;
}



.course--lesson {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px 0px 5px 10px;
}

.card img {
    width: 300px;
    height: 200px;
}

.card-body p {
    font-size: 1.5rem;
}

.card-body img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.card-body p {
    padding-bottom: 10px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.card-title a {
    text-decoration: none;
    color: #222;
}

.card-title a:hover {
    color: #00a600;
    transition: .5s;
}

.card .online--course--btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: #0054a6;
    border-radius: 50px;
    padding: 5px 20px;
    border: none;
}

.card .online--course--btn:hover {
    background-color: #00a600;
} 

.online--course--row {
    padding-top: 0px;
    padding-bottom: 10px;
}

@media (max-width:360px) {
    .online--course--row {
        padding: 20px 10px;
    }
}

/***IDF Consortium***/

.cons--logo img {
    align-items: center;
    width: 200px;
    padding: 10px;
}

.cons--logo img:hover {
    box-shadow: 3px 5px 4px #dadada;;
    transition: .5s;
}

.consortium-container{
    background-color: #e4e4e4;
}

#carousel--consortium {
    padding-top: 40px;
}

#carouselIndicators button{
    background-color: #0054a6;
}

.consortium--row{
    text-align: center;
    padding: 80px;
}

/**Footer**/

.footer--container {
    height:50%;
    background-color: #222;
    clear: both;
}

.container .footer {
 color: #fff;
 padding: 30px;
 margin: 0 auto ;
}
.footer--logo {
    width: 500px;
}

.footer--logo img {
    width: 150px;
    padding: 0px 0px 10px;
}
.footer--logo,.footer--subscribe label, .footer--menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.footer--logo span {
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
}

.footer--logo span:hover {
    color: #00a600;
}

.footer--logo a{
    color: #fff;
    text-decoration: none;
}

.footer--logo a:hover, .footer--menu a:hover  {
    color: #00a600;
}

.footer--menu {
    padding-bottom: 20px;
}

.footer--menu h2{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer--menu li, .footer--menu li a {
    color: #fff;
    text-decoration: none;
    padding-top: 5px;
}

.footer--subscribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer--subscribe h2{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 10px;
    position: relative;
    top: -10px;
}

.footer--subscribe form {
    display: flex;
    flex-direction: column;
}

.footer--subscribe form input[text] {
    width: 100%;
    font-size: 1.5rem;
}

.footer--subscribe form input {
    margin-bottom: 10px;
    padding: 5px;
    font-family: "Montserrat",sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.footer--subscribe form .subscribe--btn {
    width: 100%;
    background-color: #0054a6;
    padding: 10px;
    font-size: 1.8rem;
    color: #fff;
}

form .subscribe--btn:hover{
    background-color: #00a600;
    transition: .5s;
}

.footer--hr {
    display: none;
}
@media (max-width: 750px) {
    .footer--hr {
        display: block;
    }
}

@media (max-width: 650px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .cons--logo img {
        align-items: center;
        width: 320px;
    }
    
    .consortium--row{
        text-align: center;
        padding: 80px 20px;
        width: 500px;
    }

    .row .col-xxs {
        flex: 0 0 auto;
        width: 100%
    }
}


/***Single Page***/

.post--breadcrum {
    margin-top: 20px;
    background-color:#0054a6;
    width: 250px;
    height: auto;
}

.crum--hr {
    font-size: 1.5rem;
    font-family: "Roboto",sans-serif;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    transform: rotate(25deg)
}

.back--to--home {
    margin: 5px;
}

.post--breadcrum .back--to--home a, .fa-home, .all--events a, .crum--event a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post--breadcrum a:hover{
    color: #00ff00;
     transition: .5s;
}

.event--flyer--container, .event--details {
    margin-top: 30px;
}

.event--flyer--container {
    float: left;
    width: 55%;
}

.event--flyer--container img {
    width: 100%;
}

.event--flyer h1 {
    font-family: "Roboto",sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #0054a6;
    padding-bottom: 10px;
}

.event--content {
    border: solid 1px #dadada;
    margin-top: 20px;
}

.event--content h1 {
    padding: 20px 20px 5px;
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #0054a6;
}

.event--content p {
    padding: 10px 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 1.5rem;
}

.event--details {
    float: left;
    width: 20%;
}

.event--details .logo--adfiap, .logo--idf, .event--fee, .event--calendar, .event--clock {
    text-align: center;
    margin:  0px 10px 10px;
    border: solid 1px #dadada;
}

.event--details .logo--adfiap img, .logo--idf img {
    width: 70%;
}

.event--details .event--fee, .event--calendar, .event--clock, .event--registration--btn {
    height: auto;
    overflow: hidden;
}

.event--details .event--fee h3 {
   text-transform: uppercase;
   font-family: "Roboto", sans-serif;
   font-size: 2.5rem;
   font-weight: 900;
   color: #ff0000;
}

.event--details .event--fee p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
    color: #0054a6;
 }

.event--details, .calendar--date, .clock--time {
    float: left;
}

.event--details .event--calendar h2, .event--clock h2 {
    color: #0054a6;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.event--details .event--calendar p:nth-child(1), .event--clock p:nth-child(1) {
    color: #0054a6;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 0 10px;
    text-align: left;
}

.event--details .event--calendar .calendar--date, .event--clock .clock--time{
    width: 100%;
    margin: 0 auto;
}

.event--details .event--calendar .calendar--date p, .event--clock .clock--time p{
    color: #0054a6;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    padding: 0 10px;
}

.event--details .event--registration--btn {
    width: 90%;
    height: auto;
    margin: 0 auto 10px;
    background-color: #0054a6;
}

.event--details .event--registration--btn:hover {
    background-color: #00a600;
    text-decoration: underline;
}

.reg--link {
    text-align: center;
    padding: 15px 5px;
}
.event--details .event--registration--btn a{
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #fff;
    display: block;
}

.event--content {
    clear: left;
}

.calendar--date, .clock--time {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    
    .event--flyer--container {
        float: left;
        width: 100%;
    }

    .event--content {
        border: solid 1px #dadada;
        margin-top: 20px;
    }
    
    .event--content h1 {
        padding: 5px;
        font-family: "Roboto",sans-serif;
        font-size: 2rem;
        font-weight: 900;
        color: #0054a6;
    }

    .event--content p {
        padding: 5px;
        font-family: "Montserrat",sans-serif;
        font-size: 1.5rem;
    }

    .event--content ol{
        font-size: 31rem;
        color: red;
    }

    .event--details {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .event--details .logo--adfiap ,.logo--idf{
        display: inline-block;
        width: 26%;
        margin-top: 20px;
    }

    .event--details .logo--adfiap img, .logo--idf img {
        width: 90%;
    }

}

.upcoming--events--sidebar {
    float: right;
    width: 300px;
    height: auto;
    margin-top: 30px;
    border: solid 1px #dadada;
}

.upcoming--events--sidebar h1 {
    color: #0054a6 ;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 20px 0px 10px;
    text-align: center;
    text-transform: uppercase;
}

.events--sidebar {
    width: 250px;
    height: auto;
    margin: 20px auto;
    text-align: center;
    border: solid 1px #dadada;
    padding: 10px;   
}

.events--sidebar a {
    color: #0054a6;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.feature--image--sidebar img {
    width: 190px;
    height: 110px;
}

.feature--image--sidebar h4 {
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
}

.feature--image--sidebar h4 a:hover{
    color:#00a600;
}

.feature--image--sidebar p {
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    margin: 0 auto;
    padding: 10px 0;
}

@media (max-width:1395px) {
    .upcoming--events--sidebar {
        float: right;
        width: 20%;
        height: auto;
        margin-top: 30px;
        border: solid 1px #dadada;
    }
    
    .upcoming--events--sidebar h1 {
        color: #0054a6 ;
        font-family: 'Roboto', sans-serif;
        font-size: 2.2rem;
        font-weight: bold;
        padding: 20px 0px 10px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .events--sidebar {
        width: 90%;
        height: auto;
        margin: 20px auto;
        border: solid 1px #dadada;
        padding: 10px;
        text-align: left;
    }
    
    .feature--image--sidebar img {
        width: 90%;
        height: 20%;
    }
    
    .feature--image--sidebar h4 {
        width: 90%;
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: left;
        margin: 0 auto;
        padding-top: 10px;
    }
}


@media (max-width: 800px) {
    .upcoming--events--sidebar {
        width: 100%;
    }

    .upcoming--events--sidebar h1 {
        text-align: center;
    }

    .events--sidebar {
        width: 90%;
        height: 180px;
        margin: 20px auto;
        border: solid 1px #dadada;
        padding: 10px;
        
    }

    .feature--image--sidebar img {
        width: 150px;
        height: 100px;
        float: left;
        margin: 0px 15px;
    }

    .feature--image--sidebar h4 {
        width: 70%;
        font-family: "Roboto", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: left;
        margin: 0 auto;
        padding-top: 10px;
    }

    .feature--image--sidebar p {
        width: 80%;
        font-family: "Roboto", sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        padding-left: 30px;
    }
}


@media (max-width: 400px) {
    .upcoming--events--sidebar {
        width: 100%;
    }

    .upcoming--events--sidebar h1{
        text-align: center;
        font-size: 2rem;
    }

    .events--sidebar {
        margin: 0 auto 10px;
        width: 80%;
        height: inherit;
        text-align: center;
    }

    .feature--image--sidebar img {
        width: 80%;
        padding-bottom: 10px;
    }

    .feature--image--sidebar h4 {
        width: 80%;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
        margin-left: 15px;
    }

    .feature--image--sidebar p {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: left;
        width: 100%;
    }
}


/***About us Section***/

.page--title--container {
    background: linear-gradient(79deg, rgba(2,0,36,1) 0%, rgba(0,76,166,1) 61%, rgba(4,101,69,1) 100%);
    height: 300px;
    padding: 10px 50px;
    overflow: hidden;
    position: relative;
}

.page--title--container h1 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    left: 10%;
    top: 130px;
    z-index: 1000000;
    text-align: center;
}

.page--title--container img {
    width: 400px;
    height: 250px;
    position: absolute;
    right: 10%;
    top: 30px;
}

.about--us--container {
    text-align: center;
    margin: 100px 0px;
    height: auto;
}

.about--us--logo--container img {
    width: 300px;
    padding: 20px;
    border: solid 1px #E4E4E4;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100px;
    margin-top: 50px;
}

.about--us--logo--container {
    margin-top: 50px;
}

.about--us--content{
    margin-top: 50px;
}


.about--us--content h1{
    color: #0054a6;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.about--us--content p{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    padding-top: 20px;
}

.wwd {
    background-color: #E4E4E4;
    height: auto;
    clear: both;
    padding: 100px;
}

.wwd .row .col h1 {
    color: #0054a6;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
}

.wwd .row .col p {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    padding-top: 20px;
}

.wwd .row .col .about--us--wwd--img {
    text-align: center;
}

.wwd .row .col .about--us--wwd--img img{
    width: 400px;
}

.about--mmf {
    height: auto;
    margin: 100px 0px;
}

.about--mmf  h1 {
    color: #0054a6;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px 20px;
}

.about--mmf p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin: 0px 20px 30px;
}

.about--us--the--event {
    height: auto;
}

.about--us--the--event .row {
    margin: 0px 20px;
}

.about--us--the--event .row .col-lg-6 {
    text-align: center;
}

.about--us--the--event .row .col-lg-6 img {
    width: 500px;
    padding: 50px 0px;
    overflow: hidden;
}

.about--us--the--event h1 {
    padding: 50px 0px;
    text-align: center;
    color: #0054a6;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.about--us--the--event p{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

.custom--hr {
    width: 30%;
    margin: 0 auto;
    border-top: dotted 10px #0054a6;
    background-color: transparent;
    margin-bottom: 50px;
}

.about--us--the--TPA {
    height: 600px;
    background-color: #e4e4e4;
    margin-top: 100px;
    height: auto;
}

.about--us--the--TPA h1 {
    padding: 50px 0px;
    text-align: center;
    color: #0054a6;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;   
}

.about--us--the--TPA .about--tpa--content {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5; 
}

/**All Event listing**/

.card-body .event--title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #0054a6;
    font-weight: 700;
}

.card-body span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.shadow-sm:hover {
    box-shadow: 3px 5px 4px #dadada;;
    transition: .5s;
}

.all--event--container, .all--courses--container, .container .row .test--card--container, .all--news--container .row {
    margin-top: 30px;
}

/***all Testimonial card***/

.tes--card {
    width: 400px;
}

.tes--card .tes--feature--img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 50px 30px;
    border: 1px solid #e4e4e4;
}

.tes--card .row .card-body .card-title {
    font-family: "Roboto",sans-serif;
    font-size: 1.5rem;
    padding-top: 5px;
}

.tes--card .row .card-body span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1;
    line-height: 1.2;
}

.tes--card .row .card-body a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #0054a6;
    display: block;
    text-decoration: none;
    padding-top: 10px;
}

.tes--card .row .card-body a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tes--card .row .tes--modal--title {
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.tes--card .row .tes--modal--body--content p {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    text-align: left;
}




/****Page title Mobile****/

@media (max-width: 768px) {

    .page--title--container {
        background: linear-gradient(79deg, rgba(2,0,36,1) 0%, rgba(0,76,166,1) 61%, rgba(4,101,69,1) 100%);
        height: 300px;
        padding: 10px 50px;
        overflow: hidden;
        position: relative;
    }
    
    .page--title--container h1 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        left: 100px;
        top: 130px;
        z-index: 10;
        text-align: center;
    }
    
    .page--title--container img {
        width: 300px;
        height: 150px;
        position: absolute;
        right: 50px;
        top: 80px;
    }


    /***ABout us section What is IDF***/

    .about--us--logo--container {
        margin-top: 50px;
    }

    .about--us--logo--container img {
        width: 300px;
        padding: 10px;
        margin: 150px 0px;
        border: solid 1px #E4E4E4;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 50px;

    }

    .about--us--content h1 {
        text-align: center;
        margin: 50px 0px;
    }
    
    .about--us--container {
        text-align: center;
        margin: 10px 10px 50px;
        height: auto;
    }

    /***about section What we do***/

    .wwd {
        background-color: #E4E4E4;
        height: auto;
        clear: both;
        padding: 50px;
    }
    
    .wwd .row .col h1 {
        color: #0054a6;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        margin-top: 0px;
    }
    
    .wwd .row .col p {
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 1.8rem;
        line-height: 1.5;
        padding-top: 20px;
    }
    
    .wwd .row .col .about--us--wwd--img {
        text-align: center;
        margin-top: 50px;
    }
    
    .wwd .row .col .about--us--wwd--img img{
        width: 300px;
    }

    /***About section about the event***/
    .about--us--the--event .row .col img {
        width: 400px;
    }

    .about--us--the--event .row .col p {
        width: 100%;
    }
}

@media (max-width: 660px) {

    .page--title--container {
        background: linear-gradient(79deg, rgba(2,0,36,1) 0%, rgba(0,76,166,1) 61%, rgba(4,101,69,1) 100%);
        height: 300px;
        padding: 10px 50px;
        overflow: hidden;
        position: relative;
    }
    
    .page--title--container h1 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 5rem;
        font-weight: 700;
        position: static;
        z-index: 10;
        text-align: center;
        display: block;
        padding-top: 30px;
    }
    
    .page--title--container img {
        width: 300px;
        height: 150px;
        position: static;
       display: block;
    }

    /***About us section what is IDF***/

    .about--us--logo--container {
        margin-top: 50px;
    }

    .about--us--logo--container img {
        width: 300px;
        padding: 10px;
        margin: 50px 0px;
        border: solid 1px #E4E4E4;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 50px;

    }

    .about--us--content h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 20px 0px;
    }

    .about--us--content p {
        margin: 10px 10px;
        font-size: 1.5rem;
    }
    
    .about--us--container {
        text-align: center;
        margin: 10px 10px 50px;
        height: auto;
    }

    /***about section What we do***/

    .wwd {
        background-color: #E4E4E4;
        height: auto;
        clear: both;
        padding: 50px;
    }
    
    .wwd .row .col h1 {
        color: #0054a6;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 0px;
    }
    
    .wwd .row .col p {
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
        padding-top: 20px;
    }
    
    .wwd .row .col .about--us--wwd--img {
        text-align: center;
        margin-top: 50px;
    }
    
    .wwd .row .col .about--us--wwd--img img{
        width: 300px;
    }

    /***About us Section MMF***/
    .about--mmf {
        height: auto;
        margin: 50px 0px;
    }
    
    .about--mmf  h1 {
        color: #0054a6;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 20px;
        margin: 0px 20px;
    }
    
    .about--mmf p {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin: 0px 20px 30px;
    }

       
    /***About section about the event***/
    .about--us--the--event .row .col img {
        width: 300px;
    }

    .about--us--the--event h1 {
        padding: 20px 0px;
        text-align: center;
        color: #0054a6;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .about--us--the--event p{
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    /***About us section TPA***/

    .about--us--the--TPA {
        height: 600px;
        background-color: #e4e4e4;
        margin-top: 100px;
        height: auto;
    }
    
    .about--us--the--TPA h1 {
        padding: 50px 0px;
        text-align: center;
        color: #0054a6;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;   
    }
    
    .about--us--the--TPA .about--tpa--content {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5; 
    }

    /***Contact us***/

    .contact--us--container {
        margin: 50px 0px;
    }

    .contact--us--container .row h1 {
        margin-left: 0px;
        margin-top: 50px;
        padding: 0;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        color: #0054a6;
    }
    
    .contact--us--container .row .address--container, .contact--us--container .row .contact--details--container{
        list-style: none;
        width: 100px;
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .contact--us--container .row .address--container .address {
        list-style: none;
        width: 200px;
        margin-top: 20px;
    }
 
    .contact--us--container .row .address--container .address li {
        font-family: "Montserrat",sans-serif;
        font-size: 1.6rem;
    }
    
    
    .contact--us--container .row .address--container .address li:nth-child(1) {
        font-family: 'Roboto',sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .contact--us--container .row .address--container .address li:nth-child(2) {
        margin-top: 10px;
    }
    
    .contact--us--container .row .contact--details--container .contacts {
        list-style: none;
        width: 200px;
        margin-top: 20px;
    }
    
    .contact--us--container .row .contact--details--container .contacts li {
        font-family: "Montserrat",sans-serif;
        font-size: 1.6rem;
    }
}

/****Contact Us****/

.contact--us--container {
    margin: 50px;
}

.contact--us--container .row h1 {
    margin-left: 77px;
    margin-top: 50px;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: #0054a6;
}

.contact--us--container .row .address--container, .contact--us--container .row .contact--details--container{
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
}

.contact--us--container .row .address--container .address {
    list-style: none;
    margin-top: 20px;
}

.contact--us--container .row .address--container .address li {
    font-family: "Montserrat",sans-serif;
    font-size: 1.6rem;
}


.contact--us--container .row .address--container .address li:nth-child(1) {
    font-family: 'Roboto',sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.contact--us--container .row .address--container .address li:nth-child(2) {
    margin-top: 10px;
}

.contact--us--container .row .contact--details--container .contacts {
    list-style: none;
    margin-top: 20px;
}

.contact--us--container .row .contact--details--container .contacts li {
    font-family: "Montserrat",sans-serif;
    font-size: 1.6rem;
}
/***Google Map*****/

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    height: 400px !important;
}

/***Contact us Form****/

.contact--us--container .form--container {
    margin: 50px auto;
    width: 90%;
}

.contact--us--container .form--container .form-input{
    margin-top: 20px;
}

.contact--us--container .form--container .form-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact--us--container .form--container .form-control{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

@media (max-width:660px) {
    .contact--us--container .row .address--container, .contact--us--container .row .contact--details--container{
        margin-left: 0px;
    }

    .contact--us--container .row .address--container .address {
        margin-top: 20px;
    }
    
    .contact--us--container .row .contact--details--container .contacts {
        margin-top: 20px;
    }

    .contact--us--container .row h1 {
        margin-left: 27px;
        margin-top: 50px;
        padding: 0;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        color: #0054a6;
    }
    
    .contact--us--container .row .address--container .address li,  .contact--us--container .row .contact--details--container .contacts li,
    .contact--us--container .row h1 {
        width: 300px;
    }
    
}

/***News Section***/


.all--news--container .row .col .row {
    margin-top: 20px;
}

.all--news--container .row .col span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.all--news--container .row .col .row .col img {
    width: 200px;
}

.all--news--container .row .col .row .col p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.all--news--container .row .col .row .col .news--rd {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #0054a6;
    width: 120px;
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
}

.all--news--container .row .col .row .col .news--rd:hover {
    background-color: #00a600 ;
    transition: .5s;
}

.all--news--container .row .col .row .col .news--rd a{
    color: #fff;
    text-decoration: none;
}

.actived--menu {
    color: #00a600;
}
